@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
body {
  background-color: rgb(239, 242, 244);
}

.img_country {
  width: 100%;
}

.container {
  position: relative;
}

h1 {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 48px;
  font-family: "Cabin", sans-serif;
}

.nav {
  display: flex;
  width: 80%;
}
.nav li {
  padding: 10px;
  background-color: white;
  opacity: 0.95;
  font-size: 25px;
}
.nav li:hover {
  border: 1px solid rgb(17, 17, 17);
  display: block;
}
.nav__item {
  position: relative;
  width: 50%;
}
.nav__item:hover .subnav {
  display: flex;
  flex-direction: column;
}
.nav__item .subnav {
  top: 100%;
  left: -1px;
  width: 100%;
  display: none;
  position: absolute;
}
.nav__item .subnav .subnav__item {
  white-space: nowrap;
}
.nav__link__icon {
  position: absolute;
  right: 2%;
  top: 50%;
}

a {
  text-decoration: none;
  color: rgb(17, 17, 17);
  padding-right: 0.5%;
}

.head__menu {
  width: 100%;
  position: absolute;
  position: fixed; /*id*/
  top: 0;
  background-color: white;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__head {
  font-size: 30px;
  text-align: center;
  margin: 40px 0 20px;
}
.info__country {
  width: 70%;
  margin: 20px auto 40px auto;
  text-align: center;
  font-size: 20px;
}
.info__search, .info__item--callback {
  display: flex;
  justify-content: center;
  background-color: white;
}
.info__item--callback {
  background-color: rgb(255, 71, 88);
}
.info__item__subscribe { /* Текст для підписки*/
  color: white;
  font-size: 18px;
}
.info__hotel {
  display: block;
  margin: 0 20% 0 20%;
}
.info__hotel__item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.info__hotel__item__description {
  background-color: white;
  border-radius: 2%;
  width: 300px;
  margin: 30px 1% 20px 1%;
  display: flex;
  flex-direction: column;
}
.info__hotel__item__description__img {
  width: 100%;
  border-radius: 2% 2% 0 0;
}
.info__hotel__item__description__details {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px 10px 10px;
}
.info__hotel__item__description__details--head {
  font-weight: bold;
}
.info__hotel__item__description__details__link {
  padding: 10px 35px 10px 35px;
  border-radius: 12px;
  font-weight: bold;
}
.info__hotel__item__description__details__link--specialized {
  background-color: rgb(255, 71, 88);
  color: white;
}
.info__hotel__item__description__details--specialized {
  justify-content: space-between;
  border-bottom: 1px solid rgb(239, 242, 244);
  padding: 0 0 15px 0;
}

.footer {
  background-color: rgb(17, 17, 17);
}
.footer__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__share {
  display: inline-flex;
  padding: 18px 1% 10px 1%;
  color: white;
}
.footer__logo {
  color: white;
  margin-right: 10px;
}
.footer__text {
  font-size: 20px;
}

select, input, label {
  padding: 5px 5px 5px 5px;
  margin: 20px 10px 20px 10px;
}/*# sourceMappingURL=style.css.map */